* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  padding-top: 120px;
}

h1 {
  font-weight: bold;
  padding: 400px 0 400px 0;
  color: white;
  margin-bottom: 0;
  text-align: center;
}

.sobreNosotros {
  padding: 20px;
  padding-top: 150px;
  background-color: #F8F4F9;
  display: flex;
}
.sobreNosotros img {
  transition: all 1s;
}
.sobreNosotros img:hover {
  transform: scale(1.05);
}

.sobreNosotros_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px 0 30px;
}

.contacto {
  background-image: url("../images/fondo1.png");
  background-size: cover;
  padding: 10px;
  padding-top: 120px;
  display: grid;
  grid-template-areas: "0 titulo titulo" "img txt tabla" "img txt tabla";
}

.contacto_titulo {
  font-weight: bold;
  grid-area: titulo;
}

.contacto_img {
  grid-area: img;
}

.contacto_info {
  grid-area: txt;
}
.contacto_info ul {
  list-style: none;
}
.contacto_info ul li {
  margin: 5px;
}

.contacto_tabla {
  grid-area: tabla;
}

.tabla {
  border: solid 2px black;
  border-collapse: separate;
}

footer {
  background-color: #2E2836;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.logos_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logos_footer a {
  display: flex;
  align-items: center;
}

.redes {
  display: flex;
  justify-content: center;
}
.redes a {
  margin: 15px;
  transition: all 0.5s;
}
.redes a:hover {
  transform: scale(1.25);
}

.navPropio {
  background-color: #080808;
}
.navPropio a {
  color: white;
}
.navPropio a:hover {
  color: #F7C40E;
  font-weight: bold;
  background-color: #080808;
}

.navbar-collapse {
  justify-content: flex-end;
  padding-right: 70px;
}

.linkNav:focus, .linkNav:hover {
  color: #F7C40E;
}

.dropMenu {
  background-color: #080808;
  border-color: black;
}

.dropPropio:hover {
  background-color: #080808;
}

.bienvenidos {
  background-image: url("../images/fondotitulo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  top: 0;
  left: 0;
}

.formulario {
  background-image: url("../images/fondo2.png");
  color: white;
  padding: 10px;
}
.formulario h2 {
  font-weight: bold;
  text-align: center;
}

.ubicacion {
  background-color: #656B82;
  padding: 10px;
}
.ubicacion h2 {
  font-weight: bold;
  text-align: center;
}
.ubicacion iframe {
  width: 100%;
  max-width: 400px;
}

.ubicacion_content {
  display: flex;
  align-items: center;
}
.ubicacion_content ul {
  list-style: none;
  margin: 15px;
}

.galeria {
  background: #F0C27B; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4B1248, #F0C27B); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #4B1248, #F0C27B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 15px;
  padding-top: 120px;
}
.galeria h2 {
  text-align: center;
  margin: 20px 0 20px 0;
}

.carouselItem {
  margin-bottom: 50px;
}

.equipo {
  background-color: #656B82;
  padding: 150px 50px 50px 50px;
}

.equipoTexto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.equipoTexto h2 {
  margin-bottom: 50px;
  font-size: 300%;
}

.imagenEquipo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgEquipo {
  width: 100%;
  max-width: 600px;
}

.tituloFichas {
  text-align: center;
  margin-top: 100px;
}
.tituloFichas h3 {
  font-size: 300%;
  font-weight: bold;
}

.miembrosFichas {
  display: flex;
  padding: 0 0 150px 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.miembrosFichas .ficha {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 50px 0 50px;
}
.miembrosFichas .ficha img {
  border-radius: 150px;
  width: 200px;
  max-width: 100%;
  filter: grayscale(100%);
}
.miembrosFichas .ficha img:hover {
  filter: grayscale(0%);
  transition: all 1s;
}
.miembrosFichas .ficha .infoFicha {
  text-align: center;
  margin-top: 20px;
}
.miembrosFichas .ficha .infoFicha h4 {
  font-weight: bold;
}

.video {
  padding: 150px 0 20px 0;
  display: flex;
  justify-content: center;
  margin: 25px;
}

@media (max-width: 700px) {
  .sobreNosotros {
    flex-direction: column;
  }
  .contacto {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  .contacto_titulo {
    display: flex;
    align-items: center;
  }
  .miembrosFichas {
    flex-flow: column nowrap;
    align-items: center;
  }
  .ubicacion_content {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
