*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: gray ;
    width: 100%;
}
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navBar img{
    height: 100%;
    max-height: 100px;
}
.navmenu{
    display: flex;
    flex-flow: row wrap;
}
.navmenu li{
    list-style: none;
    margin: 10px;
}
nav li a{
    text-decoration: none;
    color: white;
    border: solid;
    padding: 2px;
}
nav li a:hover{
    color: white;
}
.sobreNosotros{
    padding: 20px;
    background: #556270;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FF6B6B, #556270);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FF6B6B, #556270); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.sobreNosotros img{
    margin: 25px;
    transition: all 1s;
}
.sobreNosotros img:hover{
    transform: scale(1.05);
}
.sobreNosotros h1{
    font-weight: bold;
}
.sobreNosotros_content{
    display: flex;
    align-items: center;
}
.textSobreNosotros{
    padding: 10px;
}
.contacto{
    background-image: url("../images/fondo1.png");
    background-size: cover;
    padding: 10px;
    display: grid;
    grid-template-areas: 
    "0 titulo titulo"
    "img txt tabla"
    "img txt tabla";
}
.contacto_titulo{
    font-weight: bold;
    grid-area: titulo;
}
.contacto_img{
    grid-area: img;
    width: 100%;
    max-width: 600px;
}
.contacto_info{
    grid-area: txt;
}
.contacto_info ul{
    list-style: none;
}
.contacto_info li{
    margin: 5px;
}
.contacto_tabla{
    grid-area: tabla;
}
.formulario{
    background-image: url("../images/fondo2.png");
    color: white;
    padding: 10px;
}
.formulario h2{
    font-weight: bold;
    text-align: center;
}
.ubicacion{
    background-color: #656B82;
    padding: 10px;
}
.ubicacion h2{
    font-weight: bold;
    text-align: center;
}
.ubicacion_content{
    display: flex;
    align-items: center;
}
.ubicacion_content ul{
    list-style: none;
    margin: 15px;
}
.ubicacion iframe{
    width: 100%;
    max-width: 400px;
}
h1{
    text-align: center;
    padding: 20px;
}
.galeria h2{
    text-align: center;
    margin: 20px 0 20px 0;
}
.galeria{
    background: #F0C27B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4B1248, #F0C27B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4B1248, #F0C27B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    padding: 15px;
}
.carouselItem{
    margin-bottom: 50px;
}
.equipo{
    background-color: #656B82;
    padding: 10px;
}
.equipoTexto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imagenEquipo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgEquipo{
    width: 100%;
    max-width: 600px;
}
.video{
    display: flex;
    justify-content: center;
    margin: 25px;
}
footer{
    background-color: #2E2836;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer ul{
    display: flex;
}
footer ul li{
    list-style-type: none;
    margin: 10px;
}
footer a{
    text-decoration: underline;
    color: white;
}
@media(max-width:700px){

    .navBar{
        flex-flow: column wrap;
    }
    .sobreNosotros_content{
        flex-direction: column;
    }
    .sobreNosotros_content img{
        width: 100%;
    }
    .contacto{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
    .contacto_titulo{
        display: flex;
        align-items: center;
    }
    .ubicacion_content{
        flex-direction: column;
    }

    footer{
        flex-flow: column wrap;
    }
    footer ul{
        flex-direction: column;
    }
}