@import "./base/map";
@import "./base/variables";
@import "./base/mixin";
@import "./base/extend";
@import "./componentes/global";
@import "./componentes/nosotros";
@import "./componentes/contacto";
@import "./componentes/footer";
.navPropio{
    background-color: $bg-nav;
    a{
        color: $txt-color;
        &:hover{
            color: #F7C40E;
            font-weight: bold;
            background-color: $bg-nav;
        }
    }
    .iconoHamburgesa{
        color:#F7C40E;
    }
}
.navbar-collapse{
    justify-content: flex-end;
    padding-right: 70px;
}
.linkNav:focus, .linkNav:hover{
    color: #F7C40E;
}
.dropMenu{
    background-color: $bg-nav;
    border-color: black;
}
.dropPropio:hover{
    background-color: $bg-nav;
}
.bienvenidos{
    background-image: url("../images/fondotitulo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    top: 0;
    left: 0;
}

.formulario{
    background-color: #757780;
    color: $txt-color;
    padding: 150px;
    display: flex;
    justify-content: center;
    h2{
        font-weight: bold;
        text-align: center;
    }
}
.ubicacion{
    background-color: #656B82;
    padding: 250px 50px 250px 50px;
    h2{
        margin-bottom: 50px;
        font-weight: bold;
        text-align: center;
    }
    iframe{
        width: 100%;
        max-width: 800px;
    }
}
.ubicacion_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul{
        list-style: none;
        margin: 15px;
    }
}
.galeria{
    background: #F0C27B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4B1248, #F0C27B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4B1248, #F0C27B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    padding: 15px;
    padding-top: 120px;
    h2{
        text-align: center;
        margin: 20px 0 20px 0;
    }
}
.carouselItem{
    margin-bottom: 50px;
}
.equipo{
    background-color: #656B82;
    padding: 150px 50px 50px 50px;
    color: $txt-color;
    .equipoTexto{
        @extend %disposicion;
        h2{
            margin-bottom: 50px;
            font-size: 300%;
        }
    }
    .imagenEquipo{
        @extend %disposicion;
    }
    .imgEquipo{
        width: 100%;
        max-width: 600px;
    }
    .tituloFichas{
        text-align: center;
        margin-top: 100px;
        h3{
            font-size: 300%;
            font-weight: bold;
        }
    }
    .miembrosFichas{
        display: flex;
        padding: 0 0 150px 0;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .ficha{
            @extend %disposicion;
            margin: 50px 50px 0 50px;
            img{
                border-radius: 150px;
                width: 200px;
                max-width: 100%;
                filter: grayscale(100%);
                &:hover{
                    filter: grayscale(0%);
                    transition: all 1s;
                }
            }
            .infoFicha{
                text-align: center;
                margin-top: 20px;
                h4{
                    font-weight: bold;
                }
            }
        }
    }
}

.video{
    padding: 150px 0 20px 0;
    display: flex;
    justify-content: center;
    margin: 25px;
}
@media(max-width:700px){
    .sobreNosotros{
        flex-direction: column;
    }
    .contacto{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
    .contacto_titulo{
        display: flex;
        align-items: center;
    }
    .miembrosFichas{
        flex-flow: column nowrap;
        align-items: center;
    }
    .ubicacion_content{
        flex-direction: column;
    }
}