%disposicion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

%form-inputs{
    border: none;
    outline: none;
    width: 100%;
    padding: 12px 1rem;
    margin-bottom: 1.3rem;
    border-radius: 4px;
}