footer{
    @include pieDePagina();
    color: $txt-color;
    .legal{
        padding-top: 25px;
        text-align: center;
    }
}
.logos_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    a{
        display: flex;
        align-items: center;
    }
}
.redes{
    display: flex;
    justify-content: center;
    a{
        margin: 15px;
        transition: all 0.5s;
        &:hover{
            transform: scale(1.25);
        }
    }
}