*{
    margin: 0;
    padding: 0;
}
html{
    scroll-padding-top: 100px;
}
body{
    font-family: 'Roboto', sans-serif;
    padding-top: 120px;
}
h1{
    font-weight: map-get($titulos, tipo-letra);
    padding: map-get($titulos , padd);
    color: map-get($titulos, color-texto);
    margin-bottom: map-get($titulos, margen-bottom);
    text-align: map-get($titulos, alineacion );
    text-shadow: 8px 8px 7px black;
    font-size: 320%;
}
.arriba{
    display: block;
    position: sticky;
    top: 100px;
}