*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    padding-top: 120px;
}
h1{
    font-weight: map-get($titulos, tipo-letra);
    padding: map-get($titulos , padd);
    color: map-get($titulos, color-texto);
    margin-bottom: map-get($titulos, margen-bottom);
    text-align: map-get($titulos, alineacion );
}