.sobreNosotros{
    padding: 200px 20px 200px 20px;
    background-color: #F8F4F9;
    display: flex;
    .textSobreNosotros{
        padding: 50px 40px 10px 30px;
    }
    img{
        border-radius: 10px;
        transition: all 1s;
        &:hover{
            transform: scale(1.05);
        }
    }
}
.sobreNosotros_content{
    @extend %disposicion;
    padding: 0 30px 0 30px;
}
